<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>                
      </div>                  
    </div>    
    <% if(user) { %>
      <label for ="user">Logged in as : <%= user.email %> </label>
      <form class="form-inline" action="/logout" method="POST">        
          <button type="submit" class="btn btn-primary">logout</button>        
      </form>
    <% } else { %>      
      <div class="form-group mb-2" class="form-inline" id="navbarNavAltMarkup">
        <a class="navbar-nav" style="padding-right: 20px; " href="/login">Login</a>      
      </div>
      <div class="form-group mb-2" class="form-inline" id="navbarNavAltMarkup">
        <a class="navbar-nav"  href="/register">Register</a>      
      </div>
   <% } %>
        
  </nav>
  
</header>